* {
    margin: 0;
    padding: 0;
  }
 /* 
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
*/
  .box {
    display: flex;
    animation: 6s infinite rotate;
    
    
  }
  .bar {
    height: 50px;
    width: 20px;
  }
  #a2 {
    height: 0;
    background: #ED7F3B;
    animation: 2s infinite anim;
  }
  
  #a1 {
    height: 0;
    background: #D65D2B;
    animation: 2.9s infinite anim;
  }
  
  
  @keyframes anim{
    00% {height: 2px}
    50% {height: 50px}
    99% {height: 2px}
  }
  
  @keyframes anim2{
    00% {height: 2px}
    50% {height: 50px}
    99% {height: 2px}
  }
  
  @keyframes rotate{
    00% {transform: rotate(0deg)}
    50% {transform: rotate(359deg)}
    99% {transform: rotate(0deg)}
  }